<% if candidacy.accepts_online_votes? %>
    <%= render partial: "decidim/candidacies/candidacies/vote_button",
               locals: {
                 candidacy:,
                 vote_label: t("vote", scope: "decidim.candidacies.candidacies.vote_cabin"),
                 unvote_label: t("already_voted", scope: "decidim.candidacies.candidacies.vote_cabin"),
                 steps: signature_has_steps?
               } %>
<% else %>
  <button class='button button__lg button__secondary w-full' disabled>
    <%= t("votes_blocked", scope: "decidim.candidacies.candidacies.vote_cabin") %>
  </button>
<% end %>
