name: "[CI] Lint / Lint code"

on:
  push:
    branches:
      - main
      - release/*
      - "*-stable"
  pull_request:

env:
  RUBY_VERSION: 3.3.4
  NODE_VERSION: 18.17.1
  SHAKAPACKER_RUNTIME_COMPILE: "false"

jobs:
  lint-report:
    name: Linting
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ env.RUBY_VERSION }}
          bundler-cache: true
          bundler-options: '--with development test'

      - uses: actions/setup-node@master
        with:
          node-version: ${{ env.NODE_VERSION }}
      
      - run: npm install
        name: Install JS dependencies

      - run: bundle exec rubocop
        name: Lint Ruby files
